body {
	background-color: yellow;
	font-family: 'Avant Garde', sans-serif;
	color: darkgray;
}
.plain-list {
	list-style: none;
}

#ProfileImage {
	width:300px;
	float: right;
}

#Gifs {
	height: 200px;
	width:300px;
	float: center;
}