body {
	background-color: pink;
	font-family: 'Roboto Slab', serif;
	color: green;
	margin-left: 30px;
	margin-right: 30px;

}
h1{font-family: 'Open Sans Condensed', sans-serif;
}
.plain-list {
	list-style: none;
}

#ProfileImage {
	width:300px;
	float: right;
}

#Gifs {
	height: 200px;
	width:300px;
	float: center;
}

a:hover {
	color: green;
}